@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');


.site-header {
  padding: 4% 10%;
  background: rgba(0, 0, 0, 0.1);
}

.site-header-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

input {
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 0.75em;
  justify-self: flex-end;
}

.letters {
  max-width: 830px;
  margin: 0 auto;
}

.term {
  background-color: hsl(175, 56%, 98%);
  padding: 0 1em 1em;
  border-radius: 1em;
  margin-top: 1em;
  border: 3px solid black; 

}

.term ul {
  list-style: decimal;
  padding: 0;
  padding-left: 1em;
}

.term ul li {
  margin-bottom: 0.75em;
}