.header {
  background: var(--clr-dark);
  border-radius: 1rem 1rem 0 0; 
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-bottom: 0.25em;
}

.description {
  margin: 0;
  margin-bottom: 1em;
  width: 93%;
}